
<ion-content color="secondary">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing..."
        >
      </ion-refresher-content>
    </ion-refresher>
 
    <ion-toolbar class="padding-30" color="secondary">
        <ion-row class="padding_o">
          <ion-col class="tool_bar_col" size="10">
            <ion-searchbar class="rounded-searchbar" showCancelButton="focus" (ionCancel)="clearSearchItems()" cancelButtonText="Custom Cancel" (input)="searchItems($event)"></ion-searchbar>
  
          </ion-col>
          <ion-col class="tool_bar_col" size="2">
            <ion-button class="tool_bar_btn" color="light" (click)="toggleFilter()">
                <ion-icon [name]="filter_icons[filter_enabled]" color="dark"></ion-icon>
            </ion-button>
              
          </ion-col>
        </ion-row>
        <ion-row class="filter_row" color="light">
          <ion-col class="filter_col">
  
          
            <ion-card color="light" *ngIf="filter_enabled">
                <form>
                    <ion-item color="light">
                      <ion-label position="floating">City</ion-label>
                      <ion-select (ionChange)="populatePincode()" #cityfilter name="city_filter" [(ngModel)]="city_id">
                        <ion-select-option [value]="null">__All cities__</ion-select-option>
      
                        <ion-select-option *ngFor="let city of assigned_cities" value="{{city.id}}">{{city.location_name}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item color="light">
                        <ion-label position="floating">Pincode</ion-label>
                      <ion-select (ionChange)="populateLocality()" #pincodefilter name="pincode_filter" [(ngModel)]="pincode_id">
      
                        <ion-select-option *ngFor="let pinc of pincodes" value="{{pinc.pk}}" [disabled]="pinc.disabled">{{pinc.pin_code}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item color="light">
                        <ion-label position="floating">Locality</ion-label>
                        <ion-select #localityfilter name="locality_filter" [(ngModel)]="locality_id" (ionChange)="applyfilter()">   
                          <ion-select-option *ngFor="let locality of localities" value="{{locality.pk}}" [disabled]="locality.disabled">{{locality.locality_name}}</ion-select-option>
                        </ion-select>
                      </ion-item>
                      <div class="margin-10"></div>
                  
                  </form>
            </ion-card>
          </ion-col>
          
        </ion-row>
  
      </ion-toolbar>

      <ion-card class="shop_card" color="light" *ngFor="let shop of shoplist">
            
          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="7">
              <h3 class="shop_name">{{shop.name}}</h3>
              <ion-label>{{shop.address}}, {{shop.pin}}</ion-label>  
              <h6 class="shop_city">{{shop.city_name}}</h6> 
                 
            </ion-col>
            <ion-col>
              
              <ion-row>
                <ion-icon class="icon-30" name="pin" color="primary" (click)="launchmap(shop.location,shop.shop_name)"></ion-icon>
                <div class="margin-30"></div>
                <a [href]="'tel:'+shop.phone"><ion-icon class="icon-30" name="call" color="success"></ion-icon></a>
              </ion-row>
              <div class="margin-10"></div>
              <ion-chip color="primary" outline="true">
                  <ion-label>{{shop.dealer.dealer_name}}</ion-label>
              </ion-chip> 
               
            </ion-col>
          </ion-row>
            

        
    </ion-card>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="'/add_carpenter_ws'">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
