  .login-content {
      background: transparent;
    
      
   
      .logo-row {
        padding-top: 50px;
        padding-bottom: 20px;
      }
   
      .login-box {
        background: rgb(253, 253, 253);
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
        border-radius: 10px;
      }
   
      ion-row {
         align-items: center;
         text-align: center;
       }
   
       ion-item {
           border-radius: 10px !important;
           padding-left: 30px !important;
           font-size: 0.9em;
           margin-bottom: 10px;
           border: none;
           //border-bottom: 0.5spx solid #263238;
           box-shadow: 0.5px 0.5px 0.5px #263238;
       }
   
       .forgot-col {
         margin: 0px 16px 0px 16px;
         padding-bottom: 20px;
       }
   
       .item-inner {
         border-bottom-color: #263238 !important;
         box-shadow: none !important;
       }
   
       .submit-btn {
         background: #263238;
         border-radius: 30px !important;
         border: 1px solid #ffffff;
         padding: 1.0em 3.0em 1.0em 3.0em;
         color: white;
         outline: none;
       }
   
       .forgot-btn {
         color: #000000;
         font-size: 0.8em;
         background: transparent;
       }
       input:focus { 
        background-color: yellow;
      }
      .form-col{
        max-width: 350px;
      }
      
    }
  