<ion-content class="login-content" padding>
  <ion-grid>
    <ion-row>
      <ion-col class="extra-col">
      </ion-col>
      <ion-col class="form-col" col-12 col-sm-12>
          <ion-row class="logo-row">
              <ion-col></ion-col>
              <ion-col width-67>
                <img src="http://www.logospng.com/images/15/circular-logo-ndash-dorota-heidels-portfolio-15352.png"/>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
            <div class="login-box">
              <form>
                <ion-row>
                  <ion-col>
                    <ion-list inset>
                      
                      <ion-item lines="none">
                        <ion-label position="floating">Username</ion-label>
                        <ion-input type="text" name="email" required></ion-input>
                      </ion-item>
                      
                      <ion-item lines="none">
                          <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" name="password" required></ion-input>
                      </ion-item>
                      
                    </ion-list>
                  </ion-col>
                </ion-row>
                
                <ion-row>
                  <ion-col class="forgot-col">
                    <button ion-button class="submit-btn" full type="submit">Login</button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="forgot-col">
                    <button ion-button class="forgot-btn" block clear>Forgot Password ?</button>
                  </ion-col>
                </ion-row>
                
              </form>
            </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>