<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <app-profile></app-profile>
        <ion-list class="menu-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of userprof.menu_items">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.label}}
              </ion-label>
            </ion-item>
            
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="userprof.length != 0">
            <ion-item class="corsor_pointer" [routerDirection]="'root'" (click)="logout()">
              <ion-icon slot="start" name="exit"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
