<ion-header>
    <ion-toolbar> 
        <ion-buttons slot="start">
          <ion-button (click)="location.back()" color="light">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button> 
        </ion-buttons> 
      <ion-buttons slot="end">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Visiting Shop Detail
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
      <ion-slides pager="true">
        <ion-slide *ngFor="let img of shop_detail.image">
            <ion-img class="shop_image" [src]="MEDIA_URL+img"></ion-img>  
        </ion-slide>        
      </ion-slides>
      <div class="margin-10"></div>
      <h3 class="shop_detail_name">{{shop_detail.shop_name}}</h3>
      <h4 class="shop_detail_address">Address: {{shop_detail.address}}, {{shop_detail.pin}}</h4>
      <h3 class="shop_detail_city">{{shop_detail.city_name}}</h3>

      <ion-row class="align_center">
        <ion-col size="3">Owner(s):</ion-col>
        <ion-col class="align_left">        
          <ion-chip color="primary" outline="true">
              <ion-icon name="person"></ion-icon>
              <ion-label>{{shop_detail.owner1}}</ion-label>
          </ion-chip> 
        </ion-col>
        <ion-col class="align_left" *ngIf="shop_detail.owner2 && shop_detail.owner2!=''">
          <ion-chip color="primary" outline="true">
              <ion-icon name="person"></ion-icon>
              <ion-label>{{shop_detail.owner2}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row class="align_center">
        <ion-col size="3">
          Last Order :
        </ion-col>
        <ion-col>
          {{shop_detail.last_order}}
        </ion-col>
      </ion-row>
     
      <ion-row>
        <ion-col size="4" class="icon_col">
          <a [href]="'tel:'+shop_detail.phone"><ion-icon class="icon-30" name="call" color="success"></ion-icon></a>
          <ion-chip color="success" outline="true">
              <ion-label>{{shop_detail.phone}}</ion-label>
          </ion-chip>
        </ion-col>
      
        <ion-col size="4" class="icon_col" (click)="launchmap(shop_detail.location,shop_detail.shop_name)">
          <ion-icon class="icon-30" name="pin" color="primary"></ion-icon>
          <ion-chip color="primary" outline="true">
              <ion-label>Get Direction</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="4" class="icon_col"> 
            <a [href]="'mailto:'+shop_detail.email"><ion-icon class="icon-30" name="mail" color="secondary"></ion-icon></a>
            <ion-chip color="secondary" outline="true">
                <ion-label>{{shop_detail.email}}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
        <div class="margin-30"></div>
       
        <ion-button class="btn_submit" color="success" expand="block" *ngIf="shop_detail.order_status==1">Order Placed</ion-button>
        <ion-button class="btn_submit" color="danger" expand="block" *ngIf="shop_detail.order_status==2">Order Not Placed</ion-button>
        
            
        <ion-button class="btn_submit" type="submit" color="primary" expand="block" [routerLink]="['/place_order/'+shop_detail.pk]" *ngIf="! shop_detail.order_status">Place Order</ion-button>
        <div class="margin-10"></div>
        <div class="margin-10"></div>
        <ion-button class="btn_submit" type="submit" color="danger" expand="block" [routerLink]="['/order_not_placed/'+shop_detail.pk]" *ngIf="! shop_detail.order_status">Order Not Placed</ion-button>
      
       
  </ion-card>
</ion-content>
