.icon-30{
    font-size: 30px
  }

.text-20{
    font-size: 20px;
    width: 100%;
}
ion-item-divider{
    padding: 0%;
    line-height: 0%;
    height: 0%;
}
.hr{
    widows: 90%;
    border: 1px solid grey;
}
.hrmargin{
    margin-bottom: 30px;
}
.content_grey{
    color: grey;
}

form{
    padding: 5%;
}

ion-item{
    width:100%;
}
ion-icon{
    margin-right:3px;
}

.selectedimage{
    width: 100px;
    length:100px;
    align-content: center;
    border-radius: 10px;
}

.btn_submit{
    width: 100%;
}