<ion-header>
    <ion-toolbar> 
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home" color="light"></ion-back-button> 
      </ion-buttons> 
      <ion-buttons slot="end">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Visit Shops
      </ion-title>
      
    </ion-toolbar>
</ion-header>

<ion-content>
        <ion-tabs color="primary">
            <ion-tab-bar color="primary" slot="bottom">
              <ion-tab-button tab="dealers?city_id={{city_id}}" [class.selected-tab]="selected_first" (click)="switchtab(1)">
                <ion-icon name="ribbon"></ion-icon>
                <ion-label>Dealers</ion-label>
                <!-- <ion-badge color="secondary">6</ion-badge>                 -->
              </ion-tab-button>
          
              <ion-tab-button tab="carpenters?city_id={{city_id}}" [class.selected-tab]="selected_second" (click)="switchtab(2)">
                <ion-icon name="man"></ion-icon>
                <ion-label>Carpenters</ion-label>
                <!-- <ion-badge color="secondary">600</ion-badge> -->
              </ion-tab-button>

              <ion-tab-button tab="workshops?city_id={{city_id}}" [class.selected-tab]="selected_third" (click)="switchtab(3)">
                <ion-icon name="hammer"></ion-icon>
                <ion-label>Workshops</ion-label>
                <!-- <ion-badge color="secondary">600</ion-badge> -->
              </ion-tab-button>
          
              
            </ion-tab-bar>
          </ion-tabs>
</ion-content>
         
          
  
    
