<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing..."
        >
      </ion-refresher-content>
    </ion-refresher>
  <div *ngIf="userprof.profileinfo.role=='Salesman'">
      <app-beat-plan [beatplandata]="userprof.beat_plan" [userprof]="userprof"></app-beat-plan>
  </div>
  
  <ion-grid>
    <ion-row class="row" justify-content-center *ngIf="!loaded">
          <ion-col class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 col" *ngFor="let tile of skeleton_arr">
            <ion-skeleton-text animated style="height: 200px; border-radius: 15px;"></ion-skeleton-text>
          </ion-col>
     </ion-row>
        
        
     <ion-row class="row" justify-content-center *ngIf="loaded">
        
          <ion-col class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 col" *ngFor="let tile of userprof.tile_items">
            <ion-card class="box-part text-center" [routerLink]="tile.url"> 
              <ion-card-header class="title" >
                  <ion-icon name="{{tile.icon}}"></ion-icon>
                <p>{{tile.label}}</p>
              </ion-card-header>
            </ion-card>
          </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
