<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="row" justify-content-center>

      <ion-col justify-content-center class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let tile of userprof.tile_items">
          <ion-card>
              <ion-card-header>
                  <ion-card-subtitle>{{tile.label}}</ion-card-subtitle>
              </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
					<ion-card class="box-part text-center">
						<ion-card-header class="title">
                <ion-icon name="home"></ion-icon>
							<h3>Test</h3>

						</ion-card-header>
					 </ion-card>
				</ion-col>

        <ion-col class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
					<ion-card class="box-part text-center">
						<ion-card-header class="title">
                <ion-icon name="alarm"></ion-icon>
							<h3>Test 2</h3>

						</ion-card-header>
					 </ion-card>
				</ion-col>

        <ion-col class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
					<ion-card class="box-part text-center">
						<ion-card-header class="title">
                <ion-icon name="logo-apple"></ion-icon>
							<h3>Test 3</h3>

						</ion-card-header>
					 </ion-card>
				</ion-col>

        <ion-col class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
					<ion-card class="box-part text-center">
						<ion-card-header class="title">
                <ion-icon name="logo-android"></ion-icon>
							<h3>Test 4</h3>

						</ion-card-header>
					 </ion-card>
				</ion-col>



        <ion-col class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
					<ion-card class="box-part text-center">
						<ion-card-header class="title">
                <ion-icon name="basket"></ion-icon>
							<h3>Test 5</h3>

						</ion-card-header>
					 </ion-card>
				</ion-col>

        <ion-col class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
					<ion-card class="box-part text-center">
						<ion-card-header class="title">
                <ion-icon name="construct"></ion-icon>
							<h3>Test 6</h3>

						</ion-card-header>
					 </ion-card>
				</ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
