<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="row" justify-content-center>
      
      <ion-col justify-content-center class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let tile of userprof.tile_items">
          <ion-card>
              <ion-card-header>
                  <ion-card-subtitle>{{tile.label}}</ion-card-subtitle>
              </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let tile of userprof.tile_items">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>{{tile.label}}</ion-card-subtitle>
                </ion-card-header>
            </ion-card>
          </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
