.searchbar-input.sc-ion-searchbar-md{
    background: #fff !important;
}

.searchbar-input-container,.searchbar-input-container *{
    background: #fff !important;
    background-color: #fff !important;

}

.button-native{
    color:#fff;
}

.toolbar-background,.toolbar-container{
    background: #fff !important;
}