<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bill Entry
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="row" justify-content-center>

    <form class="vldform vldauth" [formGroup]="billentryForm">
      <h1>Bill Entry</h1>

      <ion-item>
        <ion-label position="floating">Client Type</ion-label>
        <ion-select value="" okText="Select" cancelText="Dismiss" formControlName="client_type" required>
          <ion-select-option value="">Select One</ion-select-option>
            <ion-select-option value="dealer">Dealer</ion-select-option>
          <ion-select-option value="distributor">Distributor</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Responsible Person</ion-label>
        <ion-input value="{{billentry.responsible_person.profileinfo.first_name}} {{billentry.responsible_person.profileinfo.last_name}}" readonly></ion-input>
      </ion-item>



      <ion-item>
        <ion-label position="floating">Payment Type</ion-label>
        <ion-select value="" okText="Select" cancelText="Dismiss" formControlName="advance_in_days" required>
          <ion-select-option value="">Select One</ion-select-option>
          <ion-select-option value="0">Advance</ion-select-option>
          <ion-select-option value="45">45 Days</ion-select-option>
          <ion-select-option value="60">60 Days</ion-select-option>
        </ion-select>
      </ion-item>
      

      <ion-item>
        <ion-label position="floating">Bill Date</ion-label>
        <ion-datetime formControlName="bill_date" placeholder="DD-MMM-YYYY" display-format="DD-MMM-YYYY"></ion-datetime>
      </ion-item>


      <ion-item>
        <ion-label  position="floating">Bill No.</ion-label>
        <ion-input  type="text" formControlName="bill_no" placeholder="xxxx" required></ion-input>
      </ion-item>


      <ion-item>
        <ion-label  position="floating">Party Name</ion-label>
        <ion-input type="text" formControlName="party_name" placeholder="ABC traders" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  position="floating">Amount</ion-label>
        <ion-input type="text" formControlName="amount" [(ngModel)]="billentry.amount" placeholder="Amount" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  position="floating">GST</ion-label>
        <ion-input type="text" value="{{gst}}" placeholder="GST" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Advance Amount</ion-label>
        <ion-input type="text" [(ngModel)]="billentry.advance_amount" formControlName="advance_amount" placeholder="Advance Amount"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Discount on Advance</ion-label>
        <ion-input type="text" value="{{discount}}" placeholder="Discount on Advance" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Extra Discount</ion-label>
        <ion-input type="text" [(ngModel)]="billentry.extra_discount" formControlName="extra_discount" placeholder="Extra Discount" ></ion-input>
      </ion-item>
 

      <ion-item>
        <ion-label  position="floating">Amount after Discount</ion-label>
        <ion-input type="text" value="{{amount_after_discount}}" placeholder="Amount after Discount" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  position="floating">Due/Pending Amount</ion-label>
        <ion-input type="text" value="{{due_amount}}" placeholder="Due/Pending Amount" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  position="floating">Due Date</ion-label>
        <ion-datetime formControlName="due_date" placeholder="DD-MMM-YYYY" display-format="DD-MMM-YYYY"></ion-datetime>

      </ion-item>
      <ion-item>
        <ion-label  position="floating">Cheque No</ion-label>
        <ion-input type="text" formControlName="cheque_no"placeholder="Cheque No"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  position="floating">Cheque Date</ion-label>
        <ion-datetime formControlName="cheque_date" placeholder="DD-MMM-YYYY" display-format="DD-MMM-YYYY"></ion-datetime>

      </ion-item>

      <input class="vldform__button" type="submit" (click)="submitForm()" value="Submit">

    </form>
    </ion-row>
    </ion-grid>
    </ion-content>
