<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bill Entry
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="row" justify-content-center>

    <form class="vldform vldauth" [formGroup]="billentryForm">
      <h1>Bill Entry</h1>


      <ion-list class="vldform__textbox">


  <ion-item  lines="none">
    <ion-label position="floating">Client Type</ion-label>
    <ion-select value="" okText="Select" cancelText="Dismiss" formControlName="client_type" required>
      <ion-select-option value="">Select One</ion-select-option>
        <ion-select-option value="dealer">Dealer</ion-select-option>
      <ion-select-option value="distributor">Distributor</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

  <ion-item  lines="none"><ion-label  position="floating">Responsible Person</ion-label>
  <ion-input class="vldform__textbox" type="text" placeholder="Responsible Person" formControlName="responsible_person" required></ion-input>
  </ion-item>


  <ion-list class="vldform__textbox">
  <ion-item  lines="none">
  <ion-label position="floating">Payment Type</ion-label>
  <ion-select value="" okText="Select" cancelText="Dismiss" formControlName="advance_in_days" required>
  <ion-select-option value="">Select One</ion-select-option>
    <ion-select-option value="0">Advance</ion-select-option>
  <ion-select-option value="45">45 Days</ion-select-option>
<ion-select-option value="60">60 Days</ion-select-option>
  </ion-select>
  </ion-item>
  </ion-list>

  <ion-item  lines="none"><ion-label  position="floating">Bill Date</ion-label>
    <ion-input class="vldform__textbox" type="date" formControlName="bill_date" placeholder="Bill Date" required></ion-input></ion-item>

  <ion-item  lines="none"><ion-label  position="floating">Bill No.</ion-label>
    <ion-input class="vldform__textbox" type="text" formControlName="bill_no" placeholder="Bill No." required></ion-input></ion-item>
 
    
    <ion-item  lines="none"><ion-label  position="floating">Party Name</ion-label>
    <ion-input class="vldform__textbox" type="text" formControlName="party_name" placeholder="Party Name" required></ion-input></ion-item>
  
    <ion-item  lines="none"><ion-label  position="floating">Amount</ion-label>
    <ion-input class="vldform__textbox" type="text" formControlName="amount" [(ngModel)]="billentry.amount" placeholder="Amount" required></ion-input></ion-item>
 
    <ion-item  lines="none"><ion-label  position="floating">GST</ion-label>
    <ion-input class="vldform__textbox" type="text" value="{{gst}}" placeholder="GST" readonly></ion-input></ion-item>
  
    <ion-item  lines="none"><ion-label  position="floating">Advance Amount</ion-label>
    <ion-input class="vldform__textbox" type="text" [(ngModel)]="billentry.advance_amount" formControlName="advance_amount" placeholder="Advance Amount"></ion-input></ion-item>

    <ion-item  lines="none"><ion-label  position="floating">Discount on Advance</ion-label>
    <ion-input class="vldform__textbox" type="text" value="{{discount}}" placeholder="Discount on Advance" readonly></ion-input></ion-item>
      
    <ion-item  lines="none"><ion-label  position="floating">Extra Discount</ion-label>        
      <ion-input class="vldform__textbox" type="text" [(ngModel)]="billentry.extra_discount" formControlName="extra_discount" placeholder="Extra Discount" ></ion-input></ion-item>
       
      
    <ion-item  lines="none"><ion-label  position="floating">Amount after Discount</ion-label>        
      <ion-input class="vldform__textbox" type="text" value="{{amount_after_discount}}" placeholder="Amount after Discount" readonly></ion-input></ion-item>
        
    <ion-item  lines="none"><ion-label  position="floating">Due/Pending Amount</ion-label>
          <ion-input class="vldform__textbox" type="text" value="{{due_amount}}" placeholder="Due/Pending Amount" readonly></ion-input></ion-item>

      <ion-item  lines="none"><ion-label  position="floating">Due Date</ion-label>
            <ion-input class="vldform__textbox" type="date" formControlName="due_date" placeholder="Due Date"  required></ion-input></ion-item>
      <ion-item  lines="none"><ion-label  position="floating">Cheque No</ion-label>
              <ion-input class="vldform__textbox" type="text" formControlName="cheque_no"placeholder="Cheque No"></ion-input></ion-item>
      
              <ion-item  lines="none"><ion-label  position="floating">Cheque Date</ion-label>
                <ion-input class="vldform__textbox" type="date" formControlName="cheque_date" placeholder="Cheque Date"></ion-input></ion-item>



      <input class="vldform__button" type="submit" (click)="submitForm()" value="Enter">

    </form>
    </ion-row>
    </ion-grid>
    </ion-content>
